apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-service  
  namespace: sampleapp2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-service
  template:
    metadata:
      labels:
        app: api-service
    spec:
      containers:
      - name: api-service
        image:  ghcr.io/hashilbasheer/java-api-service:40
        ports:
        - containerPort: 8080
        imagePullPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: api-service  
  namespace: sampleapp2
spec:
  type: LoadBalancer
  ports:
  - port: 8080
  selector:
    app: api-service
